@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&family=Ubuntu:wght@300;400;500;700&display=swap');

/* Overiding default browser styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generic styling */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #EEEEEE;
    background-color: #222831;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 110%;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

/*Header*/
header {
    padding: 0.25rem 1rem;
    color: #76ABAE;
    position: fixed;
    z-index: 99;
    background-color: #31363F;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Nav Styling*/
header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #76ABAE;
}

nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;

}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main Content*/
main {
    flex-grow: 1;
    flex-basis: auto;
    margin-top: 45px;
}

/*Hero Image*/
#hero-image {
    background: url(../images/hero-image.jpg) no-repeat center center/cover;
    /* image taken from Photo by Harsch Shivam from Pexels: https://www.pexels.com/photo/man-wearing-vr-goggles-2007647/ */
    height: 600px;
    width: 100%;
    position: relative;
}

#cover-text {
    position: absolute;
    bottom: 5%;
    right: 0;
    font-size: 110%;
    text-transform: uppercase;
    height: fit-content;
    width: fit-content;
    line-height: 2rem;
    text-align: right;
    background-color: rgba(118, 171, 174, 0.6);
    padding: 10px;
}

hr {
    border: 1px solid #76ABAE;
}

/* Content */
#about-us, #vr-info {
    text-align: center;
    font-size: 110%;
    line-height: 32px;
    width: 90%;
    margin: 5% auto;
}

#about-us a {
    color: #76ABAE;
    text-decoration: none;
}

#about-us a:hover {
    color: #EEEEEE;
}

#vr-info div {
    margin: 5px auto;
}

#vr-info #uses-of-vr {
    margin-top: 20px;
}

.images {
    border-radius: 5%;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}

/*Footer*/
footer {
    text-align: center;
    background-color: #31363F;
    padding: 1rem 0;
    height: fit-content;
}

#social-links {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

#social-links i {
    color: #76ABAE;
    font-size: 150%;
}

#social-links a:hover i {
    color: #EEEEEE
}

/*Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /*Header*/
    header {
        align-items: baseline;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /*Main Content*/
    main {
        margin-top: 59px;
    }
}

/*Media query: tablets and larger (1024px and up)*/
@media screen and (min-width: 1024px) {
    /* Header */
    /* Nav */
    #menu a:hover {
        color: #EEEEEE;
    }
    
    /* Main Content*/
    /* Hero Image */
    #cover-text {
        font-size: 130%;
    }

    /* Content */

    #uses-styling  div {
        vertical-align: middle;
        display: inline-block;
        max-width: 50%;
        margin: 10px 20px;
    }

    .uses-text {
        text-align: left;
    }
}